3-1.2ExcecptionHandling.ipynb
bank_market_cap_gbp.csv
Example1.txt
ExtractTransformLoad_V2.ipynb
log.txt
logfile.txt
Pandas_Practice.ipynb
PY0101EN-1-2-Strings.ipynb
PY0101EN-2-2-Lists.ipynb
PY0101EN-2-3-Sets.ipynb
PY0101EN-2-4-Dictionaries.ipynb
PY0101EN-3-3-Functions .ipynb
PY0101EN-3-4-Classes.ipynb
PY0101EN-4-1-ReadFile.ipynb
Python Cheat Sheet - The Basics Coursera.pdf
roman_interger.py
Simple_API_2__v2.ipynb
source.zip
WebScraping_Review_Lab.ipynb
simple_python_project/API_Engineer_Peer_Review_Assignment_Extract.ipynb
simple_python_project/bank_market_cap.json
simple_python_project/exchange_rates_1.csv
simple_python_project/Webscraping_Engineer_Peer_Review_Assignment.ipynb
simple_python_project/extracted_data.png
simple_python_project/transformed_data.png
